<table>
  <thead>
    <th>Name</th>
    <th>Education Level</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @teacher.name %></td>
      <td><%= @teacher.education_level %></td>
      <td>Actions</td>
    </tr>
  </tbody>
</table>
