<table>
  <thead>
    <th>Name</th>
    <th>Education Level</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @teacher.name %></td>
      <td><%= @teacher.education_level %></td>
      <td>Actions</td>
    </tr>
  </tbody>
</table>

<%= link "Back", to: Routes.teacher_path(@conn, :index), class: "waves-effect waves-light btn-large black" %>
<%= link "Edit", to: Routes.teacher_path(@conn, :edit, @teacher) , class: "waves-effect waves-light btn-large green right" %>
