<h1>Edit Member</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.member_path(@conn, :update, @member)) %>

<%= link "Back", to: Routes.member_path(@conn, :index),
class: "waves-effect waves-light btn-large black" %>
<div class="row"></div>
